---
layout: default
title: Home
---
<!-- 
<script src="https://my.hellobar.com/7a7e1a64aee68fc9ab9c569ff0623029051337cf.js" type="text/javascript" charset="utf-8" async="async"></script>

<ul class="listing">

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    {% unless post.draft %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul>
    {% assign date = currentdate %}
    {% endunless %}
  {% endif %}
    {% unless post.draft %}
    <li><span>{{ post.date | date: "%B %e, %Y" }}</span> | <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endunless %}
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
    
</ul>
-->

  <!-- Bio here -->
  <section class="meta">
    <h2>About</h2>
    <section class="copy">

      <p>
        I am a Data Scientist, Quant, Dev and Financial Analyst. My work and interest spin around AI agents, machine learning, full stack dev and valuing companies and securities. 
        All opinions and views are my own and do not represent my employer. 
      </p>
    </section>

    <!-- Bio here -->
  <section class="meta">
    <h2>Side Gigs </h2>
    <section class="copy">
      
    <h3> - Cartwheel</h3>
      <p>
        AI agent for customer service. Link: when streamlit works 
      </p>
    </section>
    <h3> - UEY </h3>
      <p>
        Claims management system for the sporting goods industry <a href="https://uey.onrender.com">uey.onrender.com</a>

      </p>
    </section>
    
     <h3> - Abel Analytics</h3>
      <p>
        API delivery of geo, person, car data to financial services firms and others that need such things. <a href="https://www.abelanalytics.no">abelanalytics.no</a>
      </p>
    </section>

    
    <p>


</section>
