---
layout: default
title: Home
---

<!-- Hotjar Tracking Code for herman-hellenes.github.io -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:622492,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>


<ul class="listing">

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    {% unless post.draft %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul>
    {% assign date = currentdate %}
    {% endunless %}
  {% endif %}
    {% unless post.draft %}
    <li><span>{{ post.date | date: "%B %e, %Y" }}</span> | <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endunless %}
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
    
</ul>

  <!-- Bio here -->
  <section class="meta">
    <h3>About</h3>
    <section class="copy">

      <p>
        I am a Data Scientist in Quantitative Advisory Services at EY. My work and interest spin around machine learning, fintech and learning new skills.
        All opinions and views are my own and do not represent my employer. 
      </p>
      
      
      
      <a href="{{ post.url }}#disqus_thread">Comments</a>

    </section>
    
    <p>


</section>
